.about {
  background-color: #f5f5dc;

  &_content {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;

    &_personal_wrapper,
    &_services_wrapper {
      width: 50%;
    }

    &_personal_wrapper {
      h3 {
        margin-bottom: 10px;
        font-size: 2.5rem;
        font-weight: 700;
        color: #964b00;
      }

      h3.personal_information_header_text {
        padding-top: 20px;
        padding-bottom: 10px;
      }

      p {
        color: #7c746c;
        font-size: 1.8rem;
        line-height: 1.65;
        padding-bottom: 20px;
        border-bottom: 1px dashed #964b00;
      }

      ul > li {
        line-height: 1rem;
        margin-bottom: 15px;

        span.title,
        span.value {
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.5px;
          border-bottom: 2px solid #964b00;
          position: relative;
          display: inline-block;
          margin-right: 16px;
          padding-bottom: 5px;
          color: #7c746c;
        }

        span.value {
          border: none;
        }
      }
    }

    &_services_wrapper {
        padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      &_inner_content {
        width: 350px;
        height: 350px;
        background: radial-gradient(180px, #964b00, transparent 90%);
        position: relative;
        border-radius: 50%;
        border: 1.5px solid #964b00;
        animation: rotation 10s linear 1s infinite;

        div:nth-child(1) {
          position: absolute;
          top: -9%;
          left: 41%;
        }
        div:nth-child(2) {
          position: absolute;
          right: -8%;
          top: 41.5%;
        }
        div:nth-child(3) {
          position: absolute;
          bottom: -10%;
          left: 41%;
        }
        div:nth-child(4) {
          position: absolute;
          left: -8%;
          top: 41%;
        }
      }
    }
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .about_content {
    flex-direction: column;

    &_personal_wrapper,
    &_services_wrapper {
      width: 100%;
    }

    &_services_wrapper {
      display: flex;
      justify-content: center;
      margin: 10px 0px;

      &_inner_content {
        width: 300px;
        height: 300px;
        background: radial-gradient(120px, #964b00, transparent 120%);

        div:nth-child(1) {
          position: absolute;
          top: -15%;
          left: 38%;
        }
        div:nth-child(2) {
          position: absolute;
          right: -11%;
          top: 40%;
        }
        div:nth-child(3) {
          position: absolute;
          bottom: -12%;
          left: 40%;
        }
        div:nth-child(4) {
          position: absolute;
          left: -12%;
          top: 40%;
        }
      }
    }
  }
}
